# Chap6-1:DataFrame loc,iloc
### DataFrame比numpy ndarry(element-wise)提供資料統整的功能
### DataFrame通常為二維資料
### 橫的為列(索引index)，直的為屬(columns)

In [10]:
# 隨機產生DataFrame資料

import numpy as np
import pandas as pd
frame=pd.DataFrame(np.random.rand(6,6),index=list('abcdef'),
                     columns=list('ABCDEF'))
frame

          A         B         C         D         E         F
a  0.436573  0.898583  0.356393  0.884226  0.787948  0.780037
b  0.186225  0.838656  0.395362  0.215019  0.779216  0.188382
c  0.910425  0.882818  0.213938  0.711404  0.877798  0.758859
d  0.543078  0.805200  0.981508  0.219040  0.666981  0.107593
e  0.056601  0.832699  0.562515  0.100859  0.685205  0.689048
f  0.381058  0.101101  0.196091  0.786480  0.849552  0.986039

# loc用欄位來找出DataFrame的資料
# iloc用索引來找出DataFrame的資料

In [11]:
frame.describe()

              A         B         C         D         E         F
count  6.000000  6.000000  6.000000  6.000000  6.000000  6.000000
mean   0.418993  0.726509  0.450968  0.486171  0.774450  0.584993
std    0.298047  0.308293  0.292266  0.344300  0.084900  0.353595
min    0.056601  0.101101  0.196091  0.100859  0.666981  0.107593
25%    0.234934  0.812075  0.249552  0.216024  0.708708  0.313549
50%    0.408816  0.835677  0.375878  0.465222  0.783582  0.723954
75%    0.516452  0.871777  0.520726  0.767711  0.834151  0.774743
max    0.910425  0.898583  0.981508  0.884226  0.877798  0.986039

In [12]:
frame.loc['a','A']

0.4365732923258072

In [15]:
# 取前兩列的對應資料
frame.loc['a':'b',:]

          A         B         C         D         E         F
a  0.436573  0.898583  0.356393  0.884226  0.787948  0.780037
b  0.186225  0.838656  0.395362  0.215019  0.779216  0.188382

In [17]:
# 取前兩欄的對應資料
frame.loc[:,'A':'B']

          A         B
a  0.436573  0.898583
b  0.186225  0.838656
c  0.910425  0.882818
d  0.543078  0.805200
e  0.056601  0.832699
f  0.381058  0.101101

In [21]:
# 取特殊列、欄的資料
frame.loc[['a','c'],:]

          A         B         C         D         E         F
a  0.436573  0.898583  0.356393  0.884226  0.787948  0.780037
c  0.910425  0.882818  0.213938  0.711404  0.877798  0.758859

In [25]:
# 取特殊列、欄的資料
print(frame.loc[['a','c'],:])
print(frame.loc[:,['A','C']])
print(frame.loc[['a','d'],['A',"D"]])

          A         B         C         D         E         F
a  0.436573  0.898583  0.356393  0.884226  0.787948  0.780037
c  0.910425  0.882818  0.213938  0.711404  0.877798  0.758859
          A         C
a  0.436573  0.356393
b  0.186225  0.395362
c  0.910425  0.213938
d  0.543078  0.981508
e  0.056601  0.562515
f  0.381058  0.196091
          A         D
a  0.436573  0.884226
d  0.543078  0.219040

In [30]:
frame

          A         B         C         D         E         F
a  0.436573  0.898583  0.356393  0.884226  0.787948  0.780037
b  0.186225  0.838656  0.395362  0.215019  0.779216  0.188382
c  0.910425  0.882818  0.213938  0.711404  0.877798  0.758859
d  0.543078  0.805200  0.981508  0.219040  0.666981  0.107593
e  0.056601  0.832699  0.562515  0.100859  0.685205  0.689048
f  0.381058  0.101101  0.196091  0.786480  0.849552  0.986039

# iloc是利用列索引與欄索引進行資料定位，都是從0開始

In [37]:
frame.iloc[0,0]

0.4365732923258072

In [32]:
# 取前兩列的資料
frame.iloc[0:2,:]

          A         B         C         D         E         F
a  0.436573  0.898583  0.356393  0.884226  0.787948  0.780037
b  0.186225  0.838656  0.395362  0.215019  0.779216  0.188382

In [33]:
# 取前兩列、兩欄之資料
frame.iloc[0:2, 0:2]

          A         B
a  0.436573  0.898583
b  0.186225  0.838656

In [38]:
# 取特殊列、欄的資料
print(frame.iloc[[0,2],:])
print(frame.iloc[:,[0,2]])
print(frame.iloc[[0,3],[0,3]])

          A         B         C         D         E         F
a  0.436573  0.898583  0.356393  0.884226  0.787948  0.780037
c  0.910425  0.882818  0.213938  0.711404  0.877798  0.758859
          A         C
a  0.436573  0.356393
b  0.186225  0.395362
c  0.910425  0.213938
d  0.543078  0.981508
e  0.056601  0.562515
f  0.381058  0.196091
          A         D
a  0.436573  0.884226
d  0.543078  0.219040

# Chap6

In [40]:
# Chap6 的 請複製過去!!!!!
import numpy as np
import pandas as pd
groups = ["Modern Web","DevOps",np.nan,"Big Data","Security","自我挑戰組"]
ironmen = [59,9,19,14,6,np.nan]

In [41]:
# Chap6 的 請複製過去!!!!!
import numpy as np
import pandas as pd
groups = ["Modern Web","DevOps",np.nan,"Big Data","Security","自我挑戰組"]
ironmen = [59,9,19,14,6,np.nan]
ironmen_dict = {"group":groups,"ironmen":ironmen}
ironmen_df=pd.DataFrame(ironmen_dict)
# print(ironmen_df)
print(ironmen_df.loc[:,"group"].isnull())
print(ironmen_df.loc[:,"ironmen"].notnull())

0    False
1    False
2     True
3    False
4    False
5    False
Name: group, dtype: bool
0     True
1     True
2     True
3     True
4     True
5    False
Name: ironmen, dtype: bool

In [42]:
# Chap6 的 請複製過去!!!!!
print(ironmen_df.group[ironmen_df.loc[:,"group"].isnull()])
print(ironmen_df.ironmen[ironmen_df.loc[:,"group"].notnull()])

2    NaN
Name: group, dtype: object
0    59.0
1     9.0
3    14.0
4     6.0
5     NaN
Name: ironmen, dtype: float64

In [45]:
print(ironmen_df)
ironmen_df_dropped = ironmen_df.dropna() #刪除遺失值
print(ironmen_df_dropped)
ironmen_df_filled = ironmen_df.fillna(0)
print(ironmen_df_filled)
ironmen_df_fillvalue = ironmen_df.fillna({"group":"Cloud","ironmen":71})
print(ironmen_df_fillvalue)

        group  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2         NaN     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組      NaN
        group  ironmen
0  Modern Web     59.0
1      DevOps      9.0
3    Big Data     14.0
4    Security      6.0
        group  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2           0     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組      0.0
        group  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2       Cloud     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組     71.0